<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML to PDF Converter</title>
</head>
<body>
    {% include 'navbar.html' %}
<div class="container">
    <h2>HTML to PDF Converter</h2>
    <form enctype="multipart/form-data" action="/htmltopdfconvert" method="post">
        <input type="file" name="htmlFile" accept=".html">
        <button type="submit">Convert</button>
    </form>
</div>

</body>
</html>
