{% include 'navbar.html' %}


<div class="container">
    <div class="boxes">
        <div class="box">
            <ul>
                <li><a href="{{ url_for('pdftodocx.pdftodocx_index') }}">PDF to DOCX</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('doctopdf.doctopdf_index') }}">DOCX to PDF</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('doctoimg.doctoimg_index') }}">DOCX to Images</a></li>
            </ul>
        </div>
        <!-- <div class="box">
            <ul>
                <li><a href="{{ url_for('docxtopptx.docxtopptx_index') }}">DOCX to PPTX</a></li>
            </ul>
        </div> -->
        <div class="box">
            <ul>
                <li><a href="{{ url_for('pdftoimg.pdftoimgindex') }}"> PDF to Images</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('pdftoppt.pdfpptindex') }}"> PDF to PPTX</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('ppttopdf.ppttopdfindex') }}">PPTX to PDF</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('ppttoimages.ppttoimgindex') }}"> PPTX to Images</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('imgtopdf.convert') }}"> Images to PDF</a></li>
            </ul>
        </div>

        <div class="box">
            <ul>
                <li><a href="{{ url_for('exceltopdf.index') }}">SpreadSheet to PDF</a></li>
            </ul>
        </div>

       <div class="box">
            <ul>
                <li><a href="{{ url_for('exceltodocx.index') }}">SpreadSheet to docx</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('odttopdf_bp.index') }}">ODT to PDF</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('odttodocx.index') }}">ODT to DOCX</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('pdf_compressor_bp.home') }}">Compress an PDF</a></li>
            </ul>
        </div>
        <div class="box">
            <ul>
                <li><a href="{{ url_for('image_compressor_bp.index') }}">Compress an Image</a></li>
            </ul>
        </div>

        <div class="box">
            <ul>
                <li><a href="{{ url_for('encrypt_bp.encrypt') }}">Password protect a PDF</a></li>
            </ul>
        </div>

        <div class="box">
            <ul>
                <li><a href="{{ url_for('file_upload_bp.index') }}">Files/Folder to Zip file</a></li>
            </ul>
        </div>

        <div class="box">
            <ul>
                <li><a href="{{ url_for('htmltopdf.index') }}">Html to PDF</a></li>
            </ul>
        </div>
        <!-- Add
             more list items in separate boxes if needed -->
    </div>
</div>
