<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ODT to DOCX Converter</title>
</head>
<body>
  {% include 'navbar.html' %}
  <h1>ODT to DOCX Converter</h1>
  <form action="/odttodocxconvert" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".ODT"><br><br>
    <div id="email-fields" style="display: none;">
        <input type="email" name="email" placeholder="Recipient Email" required><br><br>
        <input type="text" name="subject" placeholder="Email Subject" required><br><br>
    </div>
    <h3>Check the checkbox to send the mail</h3>
    <input type="checkbox" name="send_email" id="sendEmailCheckbox"> Send mail<br><br>
    <input type="submit" value="convert">
  </form>

  <script>
    const sendEmailCheckbox = document.getElementById('sendEmailCheckbox');
    const emailFields = document.getElementById('email-fields');

    sendEmailCheckbox.addEventListener('change', function() {
      if (sendEmailCheckbox.checked) {
        emailFields.style.display = 'block';
      } else {
        emailFields.style.display = 'none';
      }
    });
  </script>
</body>
</html>
