<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ODT to PDF Converter</title>
</head>
<body>
  {% include 'navbar.html' %}
  <h1>ODT to PDF Converter</h1>
  
  <form action="{{ url_for('odttopdf_bp.index') }}" method="post" enctype="multipart/form-data">
    <label for="file">Choose an ODT file:</label>
    <input type="file" name="file" id="file" accept=".ODT" required>
    <br>

    <input type="radio" id="download" name="action" value="download" checked>
    <label for="download">Download</label>
    
    <input type="radio" id="send" name="action" value="send">
    <label for="send">Send via Email</label>
    <br>

    <div id="emailSection" style="display: none;">
      <label for="email">Recipient Email:</label>
      <input type="email" name="email" id="email">
      <br>
    </div>

    <button type="submit">Convert</button>
  </form>

  <script>
    document.getElementById('send').addEventListener('click', function() {
      document.getElementById('emailSection').style.display = 'block';
    });

    document.getElementById('download').addEventListener('click', function() {
      document.getElementById('emailSection').style.display = 'none';
    });
  </script>
</body>
</html>
