
<!DOCTYPE html>
<html>
<head>
    <title>PDF to DOCX Conversion</title>
</head>
<body>  
    {% include 'navbar.html' %}
    <h1>PDF to DOCX Conversion</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required><br>
       
    <input type="radio" id="download" name="action" value="download" checked>
    <label for="download">Download</label>
    
    <input type="radio" id="send" name="action" value="send">
    <label for="send">Send via Email</label>
    <br>

    <div id="emailSection" style="display: none;">
      <label for="email">Recipient Email:</label>
      <input type="email" name="email" id="email">
      <br>
    </div>

    <button type="submit">Convert</button>
  </form>
  
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <script>
       
    
    document.getElementById('send').addEventListener('click', function() {
      document.getElementById('emailSection').style.display = 'block';
    });

    document.getElementById('download').addEventListener('click', function() {
      document.getElementById('emailSection').style.display = 'none';
    });
  </script>
</body>
</html>
