/* Base styles for the navbar */
.navbar {
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: #7bbdfe;
    padding: 10px;
}

/* Logo style */
.logo img {
    vertical-align: middle;
}

/* Navigation options style */
.nav-options {
    display: flex;
    align-items:left; /* Align options vertically */
    /* margin-left: 20px; Add margin to move options towards the logo */
}

.nav-options a {
    color: white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 12.5px 25px;
    border-radius: 30%;
    transition: background-color 0.3s;
}

.nav-options a:hover {
    color: #1E415C;
}

/* Dropdown style */
.dropdown {
    position: relative;
    
}

.dropbtn {
    background-color: #7bbdfe;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    transition: background-color 0.3s;
}

.dropbtn:hover {
    background-color: #3c84bc;
}

/* Dropdown content style */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3c84bc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover{
    color: #1E415C;
}

/* Profile icon style */
/* .profile-icon img {
 
    vertical-align:middle;
    border-radius: 50%;
} */
/* Profile icon style */
.profile-icon {
    position: absolute;
    top: 25px; /* Adjust the value as needed */
    right: 25px; /* Adjust the value as needed */
}

.profile-icon img {
   
    vertical-align: middle;
    border-radius: 50%;
}

