<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dconverter - Home</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo"><img src="LOGO2.png" height="45px">converter</div>
    <button id="menu-toggle" class="menu-toggle">Menu</button>
    <div class="navbar-links">
      <ul class="s">
        <li><a href="#">PDF</a></li>
        <li><a href="#">DOCX</a></li>
        <li><a href="#">XCEL</a></li>
        <li><a href="#">PPT</a></li>
        <li><a href="#">IMG</a></li>
        <li><img src="user.png" alt="userimg"></li>
      </ul>
    </div>
  </nav>
</body>
</html>
