<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Splitter</title>
</head>
<body>
    <h1>PDF Splitter</h1>
    <form method="POST" action="{{ url_for('pdfsplit.split_pdf') }}" enctype="multipart/form-data">
        <label for="file">Select a PDF File:</label>
        <input type="file" name="file" id="file" accept=".pdf" required>
        <br>
        <label for="start_page">Start Page:</label>
        <input type="number" name="start_page" id="start_page" required>
        <br>
        <label for="end_page">End Page:</label>
        <input type="number" name="end_page" id="end_page" required>
        <br>
        <input type="submit" value="Split PDF">
    </form>
    
    {% if splitted_files %}
        <h2>Splitted PDF Files:</h2>
        <ul>
            {% for file in splitted_files %}
            <li><a href="{{ url_for('pdfsplit.split_pdf') }}">Split PDFs</a></li>

            {% endfor %}
        </ul>
    {% endif %}
    
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
