<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="navbar">
   
    <div class="nav-options">
        <div class="logo">
            <a href="Index.html" > <img src="logo.png" alt="Logo" width="50" height="50"> </a>
         </div>
        <div class="dropdown">
            <button class="dropbtn"> <img src="images/word.png" alt="highness" width="25" height="25">
                 <span class="menu-text">word</span> <i class="fa fa-caret-down"></i> </button>
            <div class="dropdown-content">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
            </div>
        </div>
        <!-- <a href="word.html"><img src="images/word.png" alt="highn" width="25" height="25"> 
            <span class="menu-text">word</span></a> -->
            <div class="dropdown">
                <button class="dropbtn"> <img src="images/excel.png" alt="highness" width="25" height="25">
                     <span class="menu-text">excel</span> <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
        <!-- <a href="excel.html"><img src="images/excel.png" alt="highne" width="25" height="25"> 
            <span class="menu-text">excel</span></a> -->

            <div class="dropdown">
                <button class="dropbtn"> <img src="images/pdf.png" alt="highness" width="25" height="25">
                     <span class="menu-text">pdf</span> <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
         <!-- <img src="images/pdf.png" alt="highnes" width="25" height="25"> 
            <span class="menu-text">pdf</span> -->

            <div class="dropdown">
                <button class="dropbtn"> <img src="images/ppt.png" alt="highness" width="25" height="25">
                     <span class="menu-text">ppt</span> <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
         <!-- <img src="images/ppt.png" alt="highness" width="25" height="25"> 
            <span class="menu-text">ppt</span>  -->
        <!-- <a href="img.html">  -->
           
            <div class="dropdown">
                <button class="dropbtn"> <img src="images/img enhnce.png" alt="highness" width="25" height="25">
                     <span class="menu-text">images</span> <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
        <!-- </a> -->

    <!-- <div class="dropdown">
            <button class="dropbtn">more <i class="fa fa-caret-down"></i> </button>
            <div class="dropdown-content">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
            </div>
        </div> -->
    </div>
    <div class="profile-icon">
       <a href="Login.html" > <img src="Profile.png" alt="Profile Icon" width="40" height="40"></a>
    </div>
</div>

</body>
</html>

