<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="word.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
           <a href="Index.html" > <img src="logo.png" alt="Logo" width="50" height="50"> </a>
        </div>
        <div class="nav-options">
            <a href="word.html">word</a>
            <a href="#">excel</a>
            <a href="pdf.html">pdf</a>
            <a href="#">ppt</a>
            <a href="#">images</a>
            <div class="dropdown">
                <button class="dropbtn">more <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
        </div>
        <div class="profile-icon">
           <a href="Login.html" > <img src="Profile.png" alt="Profile Icon" width="40" height="40"></a>
        </div>
    </div>
    <h1>Pdf files</h1>
<p>'Transform ".pdf" files effortlessly at your fingertips.'</p>
<div class="file-drop-area">
    
    <label for="file-input" class="file-drop-label">
        <div class="file-drop-text">
            <p>Drag & Drop Pdf Files Here</p>
        </div>
        <input type="file" id="file-input" accept=".pdf">
    </label>
</div>
</body>
</html>