<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>DOCX to PDF Converter</title>
</head>
<body>
    <h1>DOCX to PDF Converter</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".docx" required>
        <button type="submit">Convert to Docx</button>
    </form>
    <a href="pdftodocx.html"><button>PDF to DOCX</button></a>
</body>
</html> -->
<!-- templates/doctopdf.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Document to PDF Conversion</title>
</head>
<body>
    <h1>Document to PDF Conversion</h1>
    <form action="{{ url_for('conversion.index') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".docx" multiple>
        <button type="submit">Convert and Download</button>
    </form>
    <hr>
    <a href="{{ url_for('conversion.menu') }}">Back to Menu</a>
</body>
</html>
